n8n/workflows/daily-trading-report.json
{
  "name": "DMarket DAlgoly Trading Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "name": "Schedule DAlgoly 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "id": "schedule-dAlgoly-trigger"
    },
    {
      "parameters": {
        "url": "=http://bot:8080/api/v1/n8n/stats/dAlgoly",
        "authentication": "none",
        "method": "GET",
        "options": {}
      },
      "name": "Get DAlgoly Stats from Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "id": "get-dAlgoly-stats",
      "notes": "Fetch trading statistics from DMarket Bot API"
    },
    {
      "parameters": {
        "jsCode": "// Transform stats into readable format\nconst stats = $input.first().json;\n\nreturn {\n  json: {\n    date: stats.date,\n    totalTrades: stats.total_trades,\n    totalProfit: `$${stats.total_profit.toFixed(2)}`,\n    avgROI: `${stats.avg_roi.toFixed(2)}%`,\n    summary: `📊 DAlgoly Report\\n\\n` +\n      `🔢 Trades: ${stats.total_trades}\\n` +\n      `💰 Profit: $${stats.total_profit.toFixed(2)}\\n` +\n      `📈 Avg ROI: ${stats.avg_roi.toFixed(2)}%\\n\\n` +\n      (stats.best_trade ? `🏆 Best Trade: ${stats.best_trade.item}` : '')\n  }\n};"
      },
      "name": "Format Report Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300],
      "id": "format-data",
      "notes": "Transform raw stats into human-readable format"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.summary }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [910, 300],
      "id": "send-telegram",
      "notes": "Send formatted report to Telegram channel/user",
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Schedule DAlgoly 9AM": {
      "mAlgon": [
        [
          {
            "node": "Get DAlgoly Stats from Bot",
            "type": "mAlgon",
            "index": 0
          }
        ]
      ]
    },
    "Get DAlgoly Stats from Bot": {
      "mAlgon": [
        [
          {
            "node": "Format Report Data",
            "type": "mAlgon",
            "index": 0
          }
        ]
      ]
    },
    "Format Report Data": {
      "mAlgon": [
        [
          {
            "node": "Send to Telegram",
            "type": "mAlgon",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "dmarket-bot-instance"
  },
  "id": "dAlgoly-trading-report",
  "tags": [
    {
      "name": "DMarket",
      "id": "dmarket-tag"
    },
    {
      "name": "Trading",
      "id": "trading-tag"
    },
    {
      "name": "Reports",
      "id": "reports-tag"
    }
  ]
}
